# Ignore the datasets folder
/data/s1
# /data/fig_samples
/data/pred
/data/training_samples

# /models/transfer_learning
/models/tl-b1
/models/models/TL_models_parameters.txt

# old model results
/data/model_results/tl_dice_checkpoint64.csv
/data/model_results/base_dice_checkpoint64.csv
/data/model_results/native_format_dice.csv

# other varia files
/latex/varia_text.txt
/temp
/src/references.bib
references.txt
notes.txt
# *.txt
# ignore file types
**/*.dlpk
**/*.pth
**/*.fls

# ignore cache files
/.vscode
__pycache__/
*.pyc

